USE [College1]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertHostelRecord]    Script Date: 29-01-2026 10:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- write the stored proc to insert the new hostel record if hostel students is less than 5
ALTER proc [dbo].[uspInsertHostelRecord]
as
begin
BEGIN TRY

BEGIN TRANSACTION Trans_One
insert into[dbo].[CollegeMaster] values ('Achi pori', 4, 5, '2005-05-21', 21)
declare @idofstudent int
SET @idofstudent = SCOPE_IDENTITY();
insert into [dbo].[Hostel] values ('347', @idofstudent)
if @@ROWCOUNT = 0
ROLLBACK TRANSACTION Trans_One

COMMIT TRANSACTION Trans_One

END TRY

BEGIN CATCH

ROLLBACK TRANSACTION Trans_One

END CATCH
end;

exec  [dbo].[uspInsertHostelRecord]

select * from [dbo].[CollegeMaster]
select * from [dbo].[Hostel]