USE [College1]
GO
/****** Object:  StoredProcedure [dbo].[uspGetStudentByDept]    Script Date: 29-01-2026 10:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[uspGetStudentByDept]
AS
BEGIN

BEGIN TRY

BEGIN TRANSACTION Trans_One
update collegemaster set Department = 2 where Department = 1
insert into Hostel (RoomNo,CollegeId) values ('531',9)

if @@ROWCOUNT = 0
ROLLBACK TRANSACTION Trans_One

COMMIT TRANSACTION Trans_One

END TRY

BEGIN CATCH

ROLLBACK TRANSACTION Trans_One

END CATCH

END;

exec [dbo].[uspGetStudentByDept]

select * from [dbo].[CollegeMaster]