USE [Sales_Test]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesAboveSalary]    Script Date: 07-02-2026 10:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetEmployeesAboveSalary]
    @SalaryLimit INT,
    @id int
AS
BEGIN
    SELECT Name, Dept, Salary
    FROM Employees
    WHERE Salary >= @SalaryLimit and EmpID = @id;
END

EXEC GetEmployeesAboveSalary @SalaryLimit = 0, @id = 1;
