@model List<EmployeeForm.Models.Employee>

<h2>Employee List</h2>

<a asp-action="Create">Add New Employee</a>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Salary</td>
        </tr>
    }
</table>